* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    background: #0b0f19;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}


/* MAIN APP */

.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 30px 20px;
}


/* HEADER */

.header {
    text-align: center;
    margin-bottom: 30px;
}

.brand {
    color: #6c8cff;

    font-size: 18px;
    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 12px;
}

.header h1 {
    margin: 0;

    font-size: 36px;
}

.header p {
    margin-top: 12px;

    color: #9ca3af;

    font-size: 16px;
}


/* MAIN CONTENT */

main {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;

    flex: 1;
}


/* SCANNER */

.scanner-card {
    background: #151a26;

    border: 1px solid #272d3d;

    border-radius: 20px;

    padding: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

#reader {
    width: 100%;

    overflow: hidden;

    border-radius: 14px;
}


/* STATUS */

#status {
    margin-top: 22px;

    text-align: center;

    color: #aeb6c7;

    font-size: 17px;
}


/* FOOTER */

footer {
    text-align: center;

    color: #7d8597;

    font-size: 14px;

    margin-top: 30px;
}

.status-dot {
    display: inline-block;

    width: 8px;
    height: 8px;

    background: #22c55e;

    border-radius: 50%;

    margin-right: 6px;
}


/* RESULT OVERLAY */

#resultOverlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: none;

    justify-content: center;
    align-items: center;

    padding: 30px;

    z-index: 9999;
}

#resultBox {
    text-align: center;

    max-width: 500px;
}

#resultTitle {
    margin: 0;

    font-size: 48px;
}

#resultName {
    margin-top: 20px;

    font-size: 28px;
}


/* SUCCESS */

.approvedScreen {
    display: flex !important;

    background: #15803d;
}


/* ERROR / DENIED */

.deniedScreen {
    display: flex !important;

    background: #b91c1c;
}


/* MOBILE */

@media (max-width: 600px) {

    .app {
        padding: 24px 16px;
    }

    .header h1 {
        font-size: 30px;
    }

    .scanner-card {
        padding: 10px;
        border-radius: 16px;
    }

    #resultTitle {
        font-size: 40px;
    }

    #resultName {
        font-size: 24px;
    }

}
